@page "/appadmin"

@inject HttpClient Http
@using MudBlazor.Utilities
@using ParallelApp.Shared.Models

<h3>AppAdmin</h3>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="false" PanelClass="pa-6">
    <MudTabPanel Text="Schools" Icon="@Icons.Material.Filled.School">
        <MudText>Content One</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Users" Icon="@Icons.Material.Filled.People">
        <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Tags" Icon="@Icons.Material.Filled.Discount">
        <MudText>Add, edit or delete school tags</MudText>
            <MudToolBar>
                <MudTextField @bind-Value="TextValue" Label="Search" Variant="Variant.Outlined" AdornmentIcon="@Icons.Material.Filled.Search" Adornment="Adornment.Start" Class="mr-5"></MudTextField>
                <MudIconButton Icon="@Icons.Material.Filled.Search" Size="Size.Small" Class="mr-5"/>
                @if (selectedTag != null)
                {
                    <MudMenu>
                        <ActivatorContent>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Class="mr-5"/>
                        </ActivatorContent>
                        <ChildContent>
                            <MudText Color="Color.Default" Align="Align.Center">Edit tag</MudText>
                            <MudTextField @bind-Value="TextValue" Class="ml-5 mr-5" AdornmentIcon="@Icons.Material.Outlined.Discount" Adornment="Adornment.Start" Placeholder="Tag name" Variant="Variant.Text"></MudTextField>
                            <br/>
                            <MudColorPicker PickerVariant="PickerVariant.Static" ColorPickerView="ColorPickerView.Palette" Palette="CustomPalette" />
                            <MudButton Color="Color.Primary" FullWidth="true" Variant="Variant.Filled">Save changes</MudButton>
                            <!--Class="flex-grow-1 flex-shrink-0 mx-5"-->
                        </ChildContent>
                    </MudMenu>
                    
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Inherit" Size="Size.Small" Class="mr-5"/>
                    <MudButton Color="Color.Inherit" Size="Size.Small" Class="mr-5">Clear selection</MudButton>
                }
                
                <MudSpacer />
                <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="mr-5">Add New Tag</MudButton>
                <MudIconButton Icon="@Icons.Material.Filled.Sort" Color="Color.Inherit"  Size="Size.Small" Class="mr-5"/>
            </MudToolBar>
        
        <MudText>All tags</MudText>
        <br/>
        <MudChipSet @bind-SelectedChip="selectedTag" Filter="true" Mandatory="false">
        @foreach (var tag in schoolTags)
        {
            <MudChip Variant="Variant.Outlined" Color="Color.Default" SelectedColor="Color.Dark"  Size="Size.Medium"><MudAvatar Style="@($"background: {tag.GetColor()}; color:{"#FFFFFF"}; height:16px; width:16px")" ></MudAvatar><MudText Style="color:#FFFFFF">_</MudText>@tag.Name</MudChip>
        }
        </MudChipSet>
    </MudTabPanel>
    <MudTabPanel Text="Messages" Icon="@Icons.Material.Filled.Message">
        <MudText>Content Disabled</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Notification Services" Disabled="true" Icon="@Icons.Material.Filled.Notifications">
        <MudText>Content Disabled</MudText>
    </MudTabPanel>
</MudTabs>

@code {
    School school = new School();
    List<Tag> schoolTags = new List<Tag>();

    private string TextValue { get; set; }
    MudChip selectedTag;

    protected override async Task OnInitializedAsync()
    {
        await GetSchoolTags(1);
    }

    private async Task GetSchoolTags(int school_id)
    {
        schoolTags = await Http.GetFromJsonAsync<List<Tag>>("api/school/getschooltags/" + school_id.ToString());
    }

    public IEnumerable<MudColor> CustomPalette { get; set; } = new MudColor[]
    {
        "#F44336", "#E91E63", "#9C27B0", "#673AB7", "#3F51B5",
        "#FFEBEE", "#FCE4EC", "#F3E5F5", "#EDE7F6", "#E8EAF6",
        "#FFCDD2", "#F8BBD0", "#E1BEE7", "#D1C4E9", "#C5CAE9"
    };
}
