@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @*<MudText>@(context.User.Claims.FirstOrDefault(c => c.Type == "sub").Value)</MudText>*@
        <MudText>Pozdravko, @context.User.Identity.Name!</MudText>
        <MudMenu Direction="Direction.Bottom" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <!--<MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Edge="Edge.End"></MudIconButton>-->
                <MudAvatar Image="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/a9/a911a3b6d4345cb8216194defcce01d1267bba31_full.jpg"/>
            </ActivatorContent>
            <ChildContent>
                <PersonCard Class="mt-n2"/>
                <MudDivider/>
                <MudListItem Text="Profile" Href="/account" Icon="@Icons.Material.Filled.Person"/>
                <MudListItem Text="Log out"  @onclick="BeginSignOut" Icon="@Icons.Material.Filled.Logout"/>
            </ChildContent>
        </MudMenu>
        @*<ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type: @claim.Value</b></li>
            }
            
        </ul>
        &nbsp; &nbsp; &nbsp; 
        <a href="#" @onclick="BeginSignOut">Log out</a>*@
    </Authorized>
    <NotAuthorized>
        <MudButton OnClick="LogIn" Color="Color.Tertiary" Variant="Variant.Filled">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void LogIn()
    {
        Navigation.NavigateTo("authentication/login");
    }
}
